.box {
    width: 1518px;
    height: 3095px;
}

.box1 {
    width: 1518px;
    height: 35px;
    float: left;
    background: rgb(241, 241, 241);
}

.box2 {
    width: 1300px;
    height: 35px;
    float: left;
    margin: 0px 108px;
}

.box3 {
    float: left;
    width: 120px;
    height: 35px;
    position: relative;
}

.box3:hover {
    background: rgb(230, 230, 230);
}

.ju1 {
    position: absolute;
    top: 3px;
    left: 0px;
}

.text {
    font-size: 11px;
    color: #868686;
    text-decoration: none;
}

.text:hover {
    color: #ff4400;
}

.ju2 {
    position: absolute;
    top: 7px;
    left: 81px;
}

.ju3 {
    position: absolute;
    top: 2px;
    left: 105px;
}

.uk1 {
    position: absolute;
    width: 240px;
    height: 100px;
    top: 35px;
    left: 0px;
    display: none;
    background: rgb(230, 230, 230);
}

.box3:hover .uk1 {
    display: block;
}

.jj1 {
    font-size: 13px;
    color: rgb(46, 46, 46);
    text-decoration: none;
}

.jj1:hover {
    color: #ff4400;
}

.kk1 {
    width: 60px;
    height: 13px;
    line-height: 13px;
    border-right: 1px solid #c4c4c4;
    position: absolute;
    top: 5px;
    left: 150px;
}

.kk2 {
    position: absolute;
    top: 0px;
    left: 205px;
}

.kk3 {
    position: absolute;
    top: 20px;
    left: 96px;
}

.kk4 {
    position: absolute;
    top: 36px;
    left: 96px;
}

.kk5 {
    width: 220px;
    height: 25px;
    background: #fff0e8;
    position: absolute;
    top: 66px;
    left: 10px;
}

.kk6 {
    position: absolute;
    top: 66px;
    left: 70px;
}

.huaji {
    position: absolute;
    top: 3px;
    left: 23px;
}

.gg1 {
    position: relative;
    float: left;
    width: 55px;
    height: 35px;
}

.gg1:hover {
    background: #ffffff;
}

.ju4 {
    position: absolute;
    top: 3px;
    left: 16px;
}

.ju5 {
    position: absolute;
    top: 5px;
    left: 0px;
}

.ju6 {
    position: absolute;
    top: 3px;
    left: 45px;
}

.uk2 {
    position: absolute;
    width: 280px;
    height: 300px;
    top: 35px;
    left: 0px;
    display: none;
    background: #ffffff;
}

.gg1:hover .uk2 {
    display: block;
}

.kk8 {
    position: absolute;
    top: 2px;
    left: 98px;
}

.kk9 {
    position: absolute;
    top: 50px;
    left: 72px;
}

.kk10 {
    width: 150px;
    height: 40px;
    background: #fff0e8;
    position: absolute;
    top: 215px;
    left: 70px;
}

.kk11 {
    position: absolute;
    top: 222px;
    left: 102px;
}

.kk12 {
    position: absolute;
    top: 272px;
    left: 222px;
}

.kk13 {
    position: absolute;
    top: 100px;
    left: 75px;
}

.kk14 {
    position: absolute;
    top: 275px;
    left: 35px;
}

.kk15 {
    position: absolute;
    top: 275px;
    left: 15px;
}

.jj2 {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.jj3 {
    font-size: 18px;
    color: #4e4e4e;
    text-decoration: none;
}

.kk16 {
    position: absolute;
    top: 16px;
    left: 0px;
}

.kk17 {
    position: absolute;
    top: 251px;
    left: 0px;
}

.gg2 {
    width: 80px;
    height: 35px;
    float: left;
}

.kk18 {
    width: 58px;
    height: 15px;
    line-height: 15px;
    margin: 6px 10px;
}

.gg3 {
    float: right;
    width: 82px;
    height: 35px;
    position: relative;
}

.gg3:hover {
    background: #ffffff
}

.kk19 {
    position: absolute;
    top: 2px;
    right: 18px;
}

.kk20 {
    position: absolute;
    top: 5px;
    right: 65px;
}

.kk21 {
    position: absolute;
    top: 2px;
    right: 4px;
}

.gg4 {
    float: right;
    width: 70px;
    height: 35px;
    position: relative;
}

.gg4:hover {
    background: #ffffff;
}

.jj4 {
    font-size: 13px;
    color: #797979;
    text-decoration: none;
}

.kk22 {
    position: absolute;
    top: 2px;
    right: 16px;
}

.kk23 {
    position: absolute;
    top: 2px;
    right: 1px;
}

.uk3 {
    position: absolute;
    width: 64px;
    height: 60px;
    top: 34px;
    right: 4px;
    background: #ffffff;
    display: none;
}

.gg4:hover .uk3 {
    display: block;
}

.kk24 {
    width: 64px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 6px;
    right: 0px;
}

.kk24:hover {
    background: rgb(230, 230, 230);
}

.kk25 {
    width: 63px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 30px;
    right: 0px;
}

.kk25:hover {
    background: rgb(230, 230, 230);
}

.gg5 {
    float: right;
    width: 90px;
    height: 35px;
    position: relative;
}

.gg5:hover {
    background: #ffffff;
}

.kk26 {
    position: absolute;
    top: 2px;
    right: 16px;
}

.kk27 {
    position: absolute;
    top: 2px;
    right: 1px;
}

.uk4 {
    position: absolute;
    width: 80px;
    height: 182px;
    top: 34px;
    right: 8px;
    background: #ffffff;
    display: none;
}

.gg5:hover .uk4 {
    display: block;
}

.kk28 {
    width: 80px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 8px;
    right: 0px;
}

.kk28:hover {
    background: rgb(230, 230, 230);
}

.kk29 {
    width: 80px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 32px;
    right: 0px;
}

.kk29:hover {
    background: rgb(230, 230, 230);
}

.kk30 {
    width: 80px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 56px;
    right: 0px;
}

.kk30:hover {
    background: rgb(230, 230, 230);
}

.kk31 {
    width: 80px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 80px;
    right: 0px;
}

.kk31:hover {
    background: rgb(230, 230, 230);
}

.kk32 {
    width: 80px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 104px;
    right: 0px;
}

.kk32:hover {
    background: rgb(230, 230, 230);
}

.kk33 {
    width: 80px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 127px;
    right: 0px;
}

.kk33:hover {
    background: rgb(230, 230, 230);
}

.kk34 {
    width: 80px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 150px;
    right: 0px;
}

.kk34:hover {
    background: rgb(230, 230, 230);
}

.gg6 {
    width: 80px;
    height: 35px;
    float: right;
}

.kk35 {
    width: 56px;
    height: 15px;
    line-height: 15px;
    margin: 6px 10px;
    border-right: 1px solid rgb(156, 156, 156);
}

.gg7 {
    float: right;
    width: 79px;
    height: 35px;
    position: relative;
}

.gg7:hover {
    background: #ffffff;
}

.kk36 {
    position: absolute;
    top: 2px;
    right: 20px;
}

.kk37 {
    position: absolute;
    top: 2px;
    right: 3px;
}

.kk38 {
    position: absolute;
    top: 5px;
    right: 56px;
}

.uk5 {
    position: absolute;
    width: 70px;
    height: 60px;
    top: 34px;
    right: 7px;
    background: #ffffff;
    display: none;
}

.gg7:hover .uk5 {
    display: block;
}

.kk39 {
    width: 70px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 6px;
    right: 0px;
}

.kk39:hover {
    background: rgb(230, 230, 230);
}

.kk40 {
    width: 70px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 30px;
    right: 0px;
}

.kk40:hover {
    background: rgb(230, 230, 230);
}

.gg8 {
    width: 90px;
    height: 35px;
    float: right;
    position: relative;
}

.kk41 {
    width: 35px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    top: 6px;
    right: 32px;
}

.kk42 {
    position: absolute;
    top: 3px;
    right: 14px;
}

.kk43 {
    position: absolute;
    top: 3px;
    right: 3px;
}

.kk44 {
    position: absolute;
    top: 5px;
    right: 68px;
}

.jj5 {
    font-size: 16px;
    color: #ff4400;
    text-decoration: none;
}

.gg9 {
    float: right;
    width: 70px;
    height: 35px;
    position: relative;
}

.gg9:hover {
    background: #ffffff;
}

.kk45 {
    position: absolute;
    top: 2px;
    right: 15px;
}

.kk46 {
    position: absolute;
    top: 2px;
    right: 1px;
}

.uk6 {
    position: absolute;
    width: 79px;
    height: 60px;
    top: 34px;
    right: -10px;
    background: #ffffff;
    display: none;
}

.gg9:hover .uk6 {
    display: block;
}

.kk47 {
    width: 79px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 6px;
    right: 0px;
}

.kk47:hover {
    background: rgb(230, 230, 230);
}

.kk48 {
    width: 79px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 30px;
    right: 0px;
}

.kk48:hover {
    background: rgb(230, 230, 230);
}

.gg10 {
    width: 80px;
    height: 35px;
    float: right;
}

.kk49 {
    width: 58px;
    height: 15px;
    line-height: 15px;
    margin: 6px 10px;
}

.kk50 {
    float: left;
    width: 1300px;
    height: 3055px;
    margin: 0px 108px;
}

.kuang4 {
    width: 229px;
    height: 61px;
    margin: 0% auto;
    float: left;
    margin-top: 28px;
    background: url("./img/biaoti.png") no-repeat;
    list-style: none;
}

.kk51 {
    width: 1300px;
    height: 120px;
    float: left;
}

.kk52 {
    width: 450px;
    height: 30px;
    border: 3px solid #ff4400;
    float: right;
    margin: 44px 0px;
    position: relative;
}

.kuang5 {
    float: right;
}

.kuang6 {
    float: right;
    width: 77px;
    height: 29px;
    position: absolute;
    top: 0px;
    right: 293px;
}

.kuang6:hover {
    background: #bbbbbb;
}

.kk53 {
    position: absolute;
    top: 2px;
    right: 30px;
}

.kk54 {
    position: absolute;
    top: 2px;
    right: 1px;
}

.uk7 {
    position: absolute;
    width: 79px;
    height: 60px;
    top: 34px;
    right: -10px;
    background: #ffffff;
    display: none;
}

.kuang6:hover .uk7 {
    display: block;
}

.kk55 {
    width: 79px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 6px;
    right: 0px;
}

.kk55:hover {
    background: rgb(230, 230, 230);
}

.kk56 {
    width: 79px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 30px;
    right: 0px;
}

.kk56:hover {
    background: rgb(230, 230, 230);
}

.kk57 {
    float: right;
    width: 290px;
    height: 25px;
    background: url("./img/fangdajing.png") no-repeat center left;
    margin: 0px 0px;
    position: relative;
}

.sousuokuang {
    text-indent: 2em;
    width: 290px;
    height: 26px;
    margin: 0px -3px;
}

.fangdajing {
    position: absolute;
    top: 2px;
    right: 135px;
}

.box7 {
    float: left;
    width: 1300px;
    height: 45px;
    margin: 0% auto;
    border-bottom: 3px solid #d6d6d6;
}

.box8 {
    position: relative;
    width: 400px;
    height: 35px;
    margin: 0% auto;
    float: left;
}

.text5 {
    width: 100px;
    height: 24px;
    border-right: 1px solid #d6d6d6;
    text-decoration: none;
    color: #ff4400;
    display: inline-block;
    font-size: 17px;
    text-align-last: center;
    padding: 5px 17px;
    font-weight: bold;
}

.text6 {
    width: 100px;
    height: 24px;
    border-right: 1px solid #d6d6d6;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    font-size: 17px;
    text-align-last: center;
    padding: 5px 17px;
    font-weight: bold;
}

.text7 {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    font-size: 17px;
    text-align-last: center;
    padding: 5px 17px;
    font-weight: bold;
}

.chengtiao {
    position: absolute;
    top: 43px;
    left: -3px;
}

.box9 {
    width: 300px;
    height: 40px;
    position: relative;
    float: right;
}

.jiesuan {
    position: absolute;
    top: 5px;
    left: 229px;
    width: 70px;
    height: 32px;
}

.text8 {
    width: 105px;
    height: 10px;
    border-right: 1px solid #ffffff;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    margin-left: 43px;
    font-size: 12px;
    text-align-last: center;
    padding: 14px 20px;
}

.text9 {
    width: 20px;
    height: 10px;
    text-decoration: none;
    color: #ff4400;
    display: inline-block;
    font-size: 13px;
    text-align-last: center;
}

.box10 {
    float: left;
    width: 1300px;
    height: 50px;
}

.box11 {
    position: relative;
    width: 220px;
    height: 50px;
    float: left;
}

.huikuang {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 15px;
    left: 10px;
}

.text10 {
    width: 40px;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    margin-left: 36px;
    color: #525252;
    text-decoration: none;
}

.text11 {
    width: 55px;
    height: 50px;
    line-height: 50px;
    color: #525252;
    font-size: 13px;
    margin-left: 94px;
    float: left;
}

.box12 {
    width: 700px;
    height: 50px;
    float: right;
}

.text12 {
    width: 60px;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    margin: 0px 65px;
    color: #525252;
    text-align-last: center;
}

.box14 {
    float: left;
    width: 1300px;
    height: 200px;
}

.box15 {
    width: 260px;
    height: 40px;
    float: left;
}

.box16 {
    width: 260px;
    height: 40px;
    float: right;
}

.text13 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #525252;
    font-size: 13px;
    text-align-last: center;
}

.text14 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    text-decoration: none;
}

.text14:hover {
    color: #ff4400;
}

.huikuang1 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.tianmao {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: -4px;
}

.lanjingling {
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-bottom: -4px;
    margin-left: 22px;
}

.box17 {
    width: 1300px;
    height: 140px;
    border: 1px solid rgb(238, 238, 238);
    background: #fafafa;
    float: left;
}

.box18 {
    width: 350px;
    height: 90px;
    float: left;
    margin: 24px 19px;
    position: relative;
}

.huikuang2 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nakebai {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(226, 226, 226);
    position: absolute;
    top: 0px;
    left: 18px;
}

.zhifu {
    position: absolute;
    top: 65px;
    left: 110px;
}

.qitian {
    position: absolute;
    top: 60px;
    left: 135px;
}

.gouwudai {
    position: absolute;
    top: 58px;
    left: 160px;
}

.text15 {
    position: absolute;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    top: 0px;
    left: 110px;
    text-decoration: none;
}

.text15:hover {
    color: #ff4400;
}

.box19 {
    width: 200px;
    height: 90px;
    float: left;
    margin: 24px 26px;
}

.text16 {
    font-size: 12px;
    color: #868686;
    text-align-last: center;
    text-decoration: none;
}



.box20 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box21 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box22 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text17 {
    color: #ff4400;
}

.box23 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text18 {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

.text18:hover {
    color: #ff4400;
}

.box24 {
    float: left;
    width: 1300px;
    height: 200px;
}

.box25 {
    width: 260px;
    height: 40px;
    float: left;
}

.box26 {
    width: 260px;
    height: 40px;
    float: right;
}

.text19 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #525252;
    font-size: 13px;
    text-align-last: center;
}

.text20 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    text-decoration: none;
}

.text20:hover {
    color: #ff4400;
}

.huikuang3 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.tianmao2 {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: -4px;
}

.lanjingling2 {
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-bottom: -4px;
    margin-left: 10px;
}

.box27 {
    width: 1300px;
    height: 140px;
    border: 1px solid rgb(238, 238, 238);
    float: left;
    background: #fafafa;
}

.box28 {
    width: 350px;
    height: 90px;
    float: left;
    margin: 24px 19px;
    position: relative;
}

.huikuang4 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nakebai2 {
    position: absolute;
    top: 0px;
    left: 18px;
}

.zhifu2 {
    position: absolute;
    top: 65px;
    left: 110px;
}

.qitian2 {
    position: absolute;
    top: 60px;
    left: 135px;
}

.gouwudai2 {
    position: absolute;
    top: 58px;
    left: 160px;
}

.text21 {
    position: absolute;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    top: 0px;
    left: 110px;
    text-decoration: none;
}

.text21:hover {
    color: #ff4400;
}

.box29 {
    width: 200px;
    height: 90px;
    float: left;
    margin: 24px 26px;
}

.text22 {
    font-size: 12px;
    color: #868686;
    text-align-last: center;
    text-decoration: none;
}

.box30 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box31 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box32 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text23 {
    color: #ff4400;
}

.box33 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text24 {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

.text24:hover {
    color: #ff4400;
}

.box34 {
    float: left;
    width: 1300px;
    height: 200px;
}

.box35 {
    width: 260px;
    height: 40px;
    float: left;
}

.box36 {
    width: 260px;
    height: 40px;
    float: right;
}

.text25 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #525252;
    font-size: 13px;
    text-align-last: center;
}

.text26 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    text-decoration: none;
}

.text26:hover {
    color: #ff4400;
}

.huikuang5 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.tianmao3 {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: -4px;
}

.lanjingling3 {
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-bottom: -4px;
    margin-left: 10px;
}

.box37 {
    width: 1300px;
    height: 140px;
    border: 1px solid rgb(238, 238, 238);
    float: left;
    background: #fafafa;
}

.box38 {
    width: 350px;
    height: 90px;
    float: left;
    margin: 24px 19px;
    position: relative;
}

.huikuang6 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nakebai3 {
    position: absolute;
    top: 0px;
    left: 18px;
}

.zhifu3 {
    position: absolute;
    top: 65px;
    left: 110px;
}

.qitian3 {
    position: absolute;
    top: 60px;
    left: 135px;
}

.gouwudai3 {
    position: absolute;
    top: 58px;
    left: 160px;
}

.text27 {
    position: absolute;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    top: 0px;
    left: 110px;
    text-decoration: none;
}

.text27:hover {
    color: #ff4400;
}

.box39 {
    width: 200px;
    height: 90px;
    float: left;
    margin: 24px 26px;
}

.text28 {
    font-size: 12px;
    color: #868686;
    text-align-last: center;
    text-decoration: none;
}

.box40 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box41 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box42 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text29 {
    color: #ff4400;
}

.box43 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text30 {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

.text30:hover {
    color: #ff4400;
}

.box44 {
    float: left;
    width: 1300px;
    height: 200px;
}

.box45 {
    width: 260px;
    height: 40px;
    float: left;
}

.box46 {
    width: 260px;
    height: 40px;
    float: right;
}

.text31 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #525252;
    font-size: 13px;
    text-align-last: center;
}

.text32 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    text-decoration: none;
}

.text32:hover {
    color: #ff4400;
}

.huikuang7 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.tianmao4 {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: -4px;
}

.lanjingling4 {
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-bottom: -4px;
    margin-left: 4px;
}

.box47 {
    width: 1300px;
    height: 140px;
    border: 1px solid rgb(238, 238, 238);
    float: left;
    background: #fafafa;
}

.box48 {
    width: 350px;
    height: 90px;
    float: left;
    margin: 24px 19px;
    position: relative;
}

.huikuang8 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nakebai4 {
    position: absolute;
    top: 0px;
    left: 18px;
}

.zhifu4 {
    position: absolute;
    top: 65px;
    left: 110px;
}

.qitian4 {
    position: absolute;
    top: 60px;
    left: 135px;
}

.gouwudai4 {
    position: absolute;
    top: 58px;
    left: 160px;
}

.text33 {
    position: absolute;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    top: 0px;
    left: 110px;
    text-decoration: none;
}

.text33:hover {
    color: #ff4400;
}

.box49 {
    width: 200px;
    height: 90px;
    float: left;
    margin: 24px 26px;
}

.text34 {
    font-size: 12px;
    color: #868686;
    text-align-last: center;
    text-decoration: none;
}

.box50 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box51 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box52 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text35 {
    color: #ff4400;
}

.box53 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text36 {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

.text36:hover {
    color: #ff4400;
}

.box54 {
    float: left;
    width: 1300px;
    height: 200px;
}

.box55 {
    width: 260px;
    height: 40px;
    float: left;
}

.box56 {
    width: 260px;
    height: 40px;
    float: right;
}

.text37 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #525252;
    font-size: 13px;
    text-align-last: center;
}

.text38 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    text-decoration: none;
}

.text38:hover {
    color: #ff4400;
}

.huikuang9 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.tianmao5 {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: -4px;
}

.lanjingling5 {
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-bottom: -4px;
    margin-left: 16px;
}

.box57 {
    width: 1300px;
    height: 140px;
    border: 1px solid rgb(238, 238, 238);
    float: left;
    background: #fafafa;
}

.box58 {
    width: 350px;
    height: 90px;
    float: left;
    margin: 24px 19px;
    position: relative;
}

.huikuang10 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nakebai5 {
    position: absolute;
    top: 0px;
    left: 18px;
}

.zhifu5 {
    position: absolute;
    top: 65px;
    left: 110px;
}

.qitian5 {
    position: absolute;
    top: 60px;
    left: 135px;
}

.gouwudai5 {
    position: absolute;
    top: 58px;
    left: 160px;
}

.text39 {
    position: absolute;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    top: 0px;
    left: 110px;
    text-decoration: none;
}

.text39:hover {
    color: #ff4400;
}

.box59 {
    width: 200px;
    height: 90px;
    float: left;
    margin: 24px 26px;
}

.text40 {
    font-size: 12px;
    color: #868686;
    text-align-last: center;
    text-decoration: none;
}

.box60 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box61 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box62 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text41 {
    color: #ff4400;
}

.box63 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text42 {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

.text42:hover {
    color: #ff4400;
}

.box64 {
    float: left;
    width: 1300px;
    height: 200px;
}

.box65 {
    width: 260px;
    height: 40px;
    float: left;
}

.box66 {
    width: 260px;
    height: 40px;
    float: right;
}

.text43 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #525252;
    font-size: 13px;
    text-align-last: center;
}

.text44 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    text-decoration: none;
}

.text44:hover {
    color: #ff4400;
}

.huikuang11 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.tianmao6 {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: -4px;
}

.lanjingling6 {
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-bottom: -4px;
    margin-left: 10px;
}

.box67 {
    width: 1300px;
    height: 140px;
    border: 1px solid rgb(238, 238, 238);
    float: left;
    background: #fafafa;
}

.box68 {
    width: 350px;
    height: 90px;
    float: left;
    margin: 24px 19px;
    position: relative;
}

.huikuang12 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nakebai6 {
    position: absolute;
    top: 0px;
    left: 18px;
}

.zhifu6 {
    position: absolute;
    top: 65px;
    left: 110px;
}

.qitian6 {
    position: absolute;
    top: 60px;
    left: 135px;
}

.gouwudai6 {
    position: absolute;
    top: 58px;
    left: 160px;
}

.text45 {
    position: absolute;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    top: 0px;
    left: 110px;
    text-decoration: none;
}

.text45:hover {
    color: #ff4400;
}

.box69 {
    width: 200px;
    height: 90px;
    float: left;
    margin: 24px 26px;
}

.text46 {
    font-size: 12px;
    color: #868686;
    text-align-last: center;
    text-decoration: none;
}

.box70 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box71 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box72 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text47 {
    color: #ff4400;
}

.box73 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text48 {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

.text48:hover {
    color: #ff4400;
}

.box74 {
    float: left;
    width: 1300px;
    height: 200px;
}

.box75 {
    width: 260px;
    height: 40px;
    float: left;
}

.box76 {
    width: 260px;
    height: 40px;
    float: right;
}

.text49 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #525252;
    font-size: 13px;
    text-align-last: center;
}

.text50 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    text-decoration: none;
}

.text50:hover {
    color: #ff4400;
}

.huikuang13 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.tianmao7 {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: -4px;
}

.lanjingling7 {
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-bottom: -4px;
    margin-left: 20px;
}

.box77 {
    width: 1300px;
    height: 140px;
    border: 1px solid rgb(238, 238, 238);
    float: left;
    background: #fafafa;
}

.box78 {
    width: 350px;
    height: 90px;
    float: left;
    margin: 24px 19px;
    position: relative;
}

.huikuang14 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nakebai7 {
    position: absolute;
    top: 0px;
    left: 18px;
}

.zhifu7 {
    position: absolute;
    top: 65px;
    left: 110px;
}

.qitian7 {
    position: absolute;
    top: 60px;
    left: 135px;
}

.gouwudai7 {
    position: absolute;
    top: 58px;
    left: 160px;
}

.text51 {
    position: absolute;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    top: 0px;
    left: 110px;
    text-decoration: none;
}

.text51:hover {
    color: #ff4400;
}

.box79 {
    width: 200px;
    height: 90px;
    float: left;
    margin: 24px 26px;
}

.text52 {
    font-size: 12px;
    color: #868686;
    text-align-last: center;
    text-decoration: none;
}

.box80 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box81 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box82 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text53 {
    color: #ff4400;
}

.box83 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text54 {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

.text54:hover {
    color: #ff4400;
}

.box84 {
    float: left;
    width: 1300px;
    height: 200px;
}

.box85 {
    width: 260px;
    height: 40px;
    float: left;
}

.box86 {
    width: 260px;
    height: 40px;
    float: right;
}

.text55 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #525252;
    font-size: 13px;
    text-align-last: center;
}

.text56 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    text-decoration: none;
}

.text56:hover {
    color: #ff4400;
}

.huikuang15 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.tianmao8 {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: -4px;
}

.lanjingling8 {
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-bottom: -4px;
    margin-left: 10px;
}

.box87 {
    width: 1300px;
    height: 140px;
    border: 1px solid rgb(238, 238, 238);
    float: left;
    background: #fafafa;
}

.box88 {
    width: 350px;
    height: 90px;
    float: left;
    margin: 24px 19px;
    position: relative;
}

.huikuang16 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nakebai8 {
    position: absolute;
    top: 0px;
    left: 18px;
}

.zhifu8 {
    position: absolute;
    top: 65px;
    left: 110px;
}

.qitian8 {
    position: absolute;
    top: 60px;
    left: 135px;
}

.gouwudai8 {
    position: absolute;
    top: 58px;
    left: 160px;
}

.text57 {
    position: absolute;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    top: 0px;
    left: 110px;
    text-decoration: none;
}

.text57:hover {
    color: #ff4400;
}

.box89 {
    width: 200px;
    height: 90px;
    float: left;
    margin: 24px 26px;
}

.text58 {
    font-size: 12px;
    color: #868686;
    text-align-last: center;
    text-decoration: none;
}

.box90 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box91 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box92 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text59 {
    color: #ff4400;
}

.box93 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text60 {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

.text60:hover {
    color: #ff4400;
}

.box94 {
    float: left;
    width: 1300px;
    height: 200px;
}

.box95 {
    width: 260px;
    height: 40px;
    float: left;
}

.box96 {
    width: 260px;
    height: 40px;
    float: right;
}

.text61 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #525252;
    font-size: 13px;
    text-align-last: center;
}

.text62 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    text-decoration: none;
}

.text62:hover {
    color: #ff4400;
}

.huikuang17 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.tianmao9 {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: -4px;
}

.lanjingling9 {
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-bottom: -4px;
    margin-left: 10px;
}

.box97 {
    width: 1300px;
    height: 140px;
    border: 1px solid rgb(238, 238, 238);
    float: left;
    background: #fafafa;
}

.box98 {
    width: 350px;
    height: 90px;
    float: left;
    margin: 24px 19px;
    position: relative;
}

.huikuang18 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nakebai9 {
    position: absolute;
    top: 0px;
    left: 18px;
}

.zhifu9 {
    position: absolute;
    top: 65px;
    left: 110px;
}

.qitian9 {
    position: absolute;
    top: 60px;
    left: 135px;
}

.gouwudai9 {
    position: absolute;
    top: 58px;
    left: 160px;
}

.text63 {
    position: absolute;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    top: 0px;
    left: 110px;
    text-decoration: none;
}

.text63:hover {
    color: #ff4400;
}

.box99 {
    width: 200px;
    height: 90px;
    float: left;
    margin: 24px 26px;
}

.text64 {
    font-size: 12px;
    color: #868686;
    text-align-last: center;
    text-decoration: none;
}

.box100 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box101 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box102 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text65 {
    color: #ff4400;
}

.box103 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text66 {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

.text66:hover {
    color: #ff4400;
}

.box104 {
    float: left;
    width: 1300px;
    height: 200px;
}

.box105 {
    width: 260px;
    height: 40px;
    float: left;
}

.box106 {
    width: 260px;
    height: 40px;
    float: right;
}

.text67 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #525252;
    font-size: 13px;
    text-align-last: center;
}

.text68 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    text-decoration: none;
}

.text68:hover {
    color: #ff4400;
}

.huikuang19 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.tianmao10 {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: -4px;
}

.lanjingling10 {
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-bottom: -4px;
    margin-left: 10px;
}

.box107 {
    width: 1300px;
    height: 140px;
    border: 1px solid rgb(238, 238, 238);
    float: left;
    background: #fafafa;
}

.box108 {
    width: 350px;
    height: 90px;
    float: left;
    margin: 24px 19px;
    position: relative;
}

.huikuang20 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nakebai10 {
    position: absolute;
    top: 0px;
    left: 18px;
}

.zhifu10 {
    position: absolute;
    top: 65px;
    left: 110px;
}

.qitian10 {
    position: absolute;
    top: 60px;
    left: 135px;
}

.gouwudai10 {
    position: absolute;
    top: 58px;
    left: 160px;
}

.text69 {
    position: absolute;
    font-size: 13px;
    color: #525252;
    text-align-last: center;
    top: 0px;
    left: 110px;
    text-decoration: none;
}

.text69:hover {
    color: #ff4400;
}

.box109 {
    width: 200px;
    height: 90px;
    float: left;
    margin: 24px 26px;
}

.text70 {
    font-size: 12px;
    color: #868686;
    text-align-last: center;
    text-decoration: none;
}

.box110 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box111 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.box112 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text71 {
    color: #ff4400;
}

.box113 {
    width: 130px;
    height: 90px;
    float: left;
    margin: 24px 16px;
}

.text72 {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

.text72:hover {
    color: #ff4400;
}

.box114 {
    float: left;
    width: 1300px;
    height: 63px;
    background: #e5e5e5;
}

.box115 {
    width: 300px;
    height: 63px;
    float: left;
}

.box116 {
    width: 18px;
    height: 18px;
    float: left;
    margin: 21px 5px;
}

.box117 {
    width: 40px;
    height: 20px;
    float: left;
    margin: 19px 5px;
}

.box118 {
    width: 40px;
    height: 20px;
    float: left;
    margin: 19px 0px;
}

.box119 {
    width: 75px;
    height: 20px;
    float: left;
    margin: 19px 5px;
}

.box120 {
    width: 40px;
    height: 20px;
    float: left;
    margin: 19px 0px;
}

.text73 {
    font-size: 13px;
    color: #3f3f3f;
    text-decoration: none;
}

.text74 {
    font-size: 13px;
    color: #3f3f3f;
}

.box121 {
    width: 510px;
    height: 63px;
    float: right;
    position: relative;
}

.text76 {
    font-size: 18px;
    color: #ff4400;
    text-decoration: none;
}

.text75 {
    font-size: 13px;
    color: #3f3f3f;
    text-decoration: none;
}

.text77 {
    font-size: 22px;
    color: #ff4400;
    font-weight: bold;
}

.box122 {
    width: 100px;
    height: 20px;
    float: right;
    margin: 18px 38px;
}

.box123 {
    position: absolute;
    top: 22px;
    left: 130px;
    width: 9px;
    height: 11px;
    float: right;
}

.box124 {
    width: 120px;
    height: 20px;
    float: right;
    margin: 18px 0px;
}

.box125 {
    width: 58px;
    height: 15px;
    float: right;
    margin: 15px 0px;
}

.box126 {
    width: 148px;
    height: 62px;
    float: right;
}

.box127 {
    float: left;
    width: 1300px;
    height: 25px;
}

.box128 {
    float: left;
    width: 1300px;
    height: 520px;
}

.box129 {
    width: 1300px;
    height: 38px;
    border-bottom: 3px solid rgb(145, 145, 145);
    position: relative;
}

.text78 {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #ff4400;
}

.text79 {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.box130 {
    width: 80px;
    height: 15px;
    line-height: 15px;
    float: left;
    margin: 10px 10px;
    border-right: 1px solid rgb(206, 206, 206)
}

.chengtiao2 {
    position: absolute;
    top: 37px;
    left: 0px;
}

.box131 {
    width: 80px;
    height: 15px;
    line-height: 15px;
    float: left;
    margin: 10px 8px;
    border-right: 1px solid rgb(206, 206, 206)
}

.box132 {
    width: 95px;
    height: 15px;
    line-height: 15px;
    float: left;
    margin: 10px 8px;
    border-right: 1px solid rgb(206, 206, 206)
}

.box133 {
    width: 80px;
    height: 15px;
    line-height: 15px;
    float: left;
    margin: 10px 8px;
}

.box134 {
    width: 1300px;
    height: 20px;
}

.box135 {
    width: 1300px;
    height: 400px;
}

.box143 {
    border: 1px solid rgb(233, 233, 233);
    width: 220px;
    height: 320px;
    position: relative;
    margin: 0px 19px;
    float: left;
}

.box144 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.box143:hover .box144 {
    border: 1px solid red;
}

.box145 {
    text-align: center;
    margin: 0px auto;
}

.box146 {
    position: absolute;
    top: 230px;
    left: 7px;
    color: red;
    font-size: 20px;
    font-family: "arial";
}

.text83 {
    font-size: 14px;
}

.box147 {
    position: absolute;
    top: 255px;
    left: 7px;
}

.text84 {
    font-size: 12px;
    color: #8d8d8d;
    text-decoration: none;
}

.text84:hover {
    color: #ff4400;
}

.box148 {
    position: absolute;
    top: 298px;
    left: 7px;
}

.text85 {
    font-size: 12px;
    color: #8d8d8d;
    text-decoration: none;
}

.text85:hover {
    color: #ff4400;
}

.box149 {
    position: absolute;
    top: 295px;
    left: 190px;
    width: 22px;
    height: 22px;
}

.box150 {
    width: 1300px;
    height: 320px;
}

.box151 {
    width: 1300px;
    height: 10px;
}

.box152 {
    width: 1300px;
    height: 50px;
    margin: 0px 0px;
}

.qiu5 {
    width: 157px;
    height: 19px;
    line-height: 19px;
    margin: 0px 568px;
}

.box153 {
    width: 1300px;
    height: 198px;
}

.box154 {
    width: 1300px;
    height: 39px;
    border-top: 1px solid rgb(168, 168, 168);
    float: left;
}

.text86 {
    text-decoration: none;
    font-size: 13px;
    color: #707070;
}

.text86:hover {
    color: #ff4400;
}

.box155 {
    width: 85px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 0px;
}

.box156 {
    width: 45px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 5px;
}

.box157 {
    width: 33px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 3px;
}

.box158 {
    width: 45px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 4px;
}

.box159 {
    width: 73px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 5px;
}

.box160 {
    width: 136px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 5px;
}

.box161 {
    width: 39px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 3px;
}

.box162 {
    width: 60px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 4px;
}

.box163 {
    width: 33px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 3px;
}

.box164 {
    width: 70px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 3px;
}

.box165 {
    width: 40px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 3px;
}

.box166 {
    width: 57px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 3px;
}

.box167 {
    width: 60px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 3px;
}

.box168 {
    width: 33px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 3px;
}

.box169 {
    width: 33px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 3px;
}

.box170 {
    width: 33px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 3px;
}

.box171 {
    width: 24px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 10px 3px;
}

.box172 {
    width: 33px;
    height: 13px;
    line-height: 13px;
    float: left;
    margin: 10px 3px;
}

.box173 {
    float: left;
    width: 1300px;
    height: 30px;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.box174 {
    width: 33px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 0px 0px;
}

.box175 {
    width: 45px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 0px 3px;
}

.box176 {
    width: 33px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 0px 3px;
}

.box177 {
    width: 45px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 0px 3px;
}

.box178 {
    width: 33px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 0px 3px;
}

.box179 {
    width: 33px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 0px 3px;
}

.box180 {
    width: 60px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 0px 3px;
}

.box181 {
    width: 60px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 0px 3px;
}

.box182 {
    width: 60px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 0px 3px;
}

.box183 {
    width: 60px;
    height: 13px;
    line-height: 13px;
    float: left;
    margin: 0px 3px;
}

.box184 {
    float: left;
    width: 1300px;
    height: 10px;
}

.box185 {
    float: left;
    width: 1300px;
    height: 111px;
}

.box186 {
    width: 60px;
    height: 13px;
    line-height: 13px;
    float: left;
    margin: 0px 0px;
}

.box187 {
    width: 75px;
    height: 13px;
    line-height: 13px;
    float: left;
    margin: 0px 3px;
}

.box188 {
    width: 64px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 0px 3px;
}

.box189 {
    width: 280px;
    height: 13px;
    line-height: 13px;
    float: left;
    margin: 0px 40px;
}

.text87 {
    font-size: 13px;
    color: #bbbbbb
}

.box190 {
    float: left;
    width: 1300px;
    height: 30px;
}

.box191 {
    width: 255px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 15px 0px;
}

.box192 {
    width: 310px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 15px 10px;
}

.box193 {
    width: 282px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 15px 3px;
}

.box194 {
    width: 370px;
    height: 13px;
    line-height: 13px;
    float: left;
    margin: 15px 10px;
}

.box195 {
    float: left;
    width: 1300px;
    height: 30px;
}

.box196 {
    width: 325px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 15px 0px;
}

.box197 {
    width: 330px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 15px 5px;
}

.box198 {
    width: 223px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 15px 8px;
}

.box199 {
    width: 350px;
    height: 13px;
    line-height: 13px;
    float: left;
    margin: 15px 0px;
}

.box200 {
    float: left;
    width: 1300px;
    height: 30px;
    position: relative;
}

.box201 {
    width: 190px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 15px 33px;
}

.box202 {
    width: 24px;
    height: 27px;
}

.gongan {
    position: absolute;
    top: 4px;
    left: 0px;
}

.box203 {
    width: 290px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: -14px -20px;
}

.box204 {
    width: 260px;
    height: 13px;
    line-height: 13px;
    float: left;
    border-right: 1px solid rgb(168, 168, 168);
    margin: -14px 285px;
}

.box205 {
    width: 450px;
    height: 13px;
    line-height: 13px;
    float: left;
    margin: -30px 815px;
}